body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    background: radial-gradient(ellipse at bottom, #000103 0%, #000000 100%); /* Dark Blue Gradient */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

#title {
    text-align: center;
}

h1 {
    font-size: 36px;
    text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 20px;  /* Adjust this value to position the text further down if needed */
    left: 50%;
    transform: translateX(-50%);  /* Center the text horizontally */
    margin: 0;
}

/* Creating animated stars */
.stars {
    width: 100%;
    height: 100%;
    background: transparent  repeat;
    animation: moveStars 50s linear infinite;
}

/* Moving stars animation */
@keyframes moveStars {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 10000px 5000px;
    }
}

.twinkling {
    width: 100%;
    height: 100%;
    /* background: transparent url('https://www.transparenttextures.com/patterns/grey-washed-wall.png') repeat; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    animation: moveTwinkling 100s linear infinite;
}

/* Twinkling animation */
@keyframes moveTwinkling {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}